/*全体*/
body {
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    background-color: black;
}

/*ボタン*/
.btn-square-shadow {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: red;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-weight: bold;
}

.big-body {
    background-color: white;
}

img {
    width: 100%;
}

.s-small {
    width: 50%;
    margin-left: 1em;
    margin-top: -14em;
    margin-bottom: 1em;
}

.small {
    width: 60%;
}

.center {
    text-align: center;
}

.dl_top {
    margin-top: -1em;
    width: 90%;
}

.dl {
    width: 90%;
}

p {
    font-weight: bold;
    color: grey;
    font-size: 0.8em;
    margin-top: -0.1em;
}

.line {
    border-bottom: 2px solid grey;
    margin-bottom: 2.5em;
}

h1 {
    color: #FF6699;
    font-size: 1em;
    border-bottom: 3px solid #FF6699;
}

.footer {
    background-color: black;
}

.footer p {
    text-align: center;
}