body {
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    /*background-color: black;*/
}

/*ヘッダー*/
header {
    background-color: white;
}

header img {
    width: 100%;
}

.header-div {
    margin: 1em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.header-div:before, .header-div:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}

.header-div:before {left: 10px;}
.header-div:after {right: 10px;}
.header-div p {
    margin: 0; 
    padding: 0;
    font-weight: bold;
    font-size: 1.3em;
}

.header-span {
    color: red;
    border-bottom: 3px solid red;
}

/*ボディー*/
.body {
    background-color: white;
}

.body img {
    width: 100%;
}

.info {
    padding: 0.5em 1em;
    margin: 0.5em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.info p {
    margin: 0; 
    padding: 0;
    color: grey;
}

.info-span {
    color: red;
}

.body-div {
    margin: 1em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.body-div:before, .body-div:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}

.body-div:before {left: 10px;}
.body-div:after {right: 10px;}
.body-div p {
    margin: 0; 
    padding: 0;
    font-weight: bold;
    font-size: 1.3em;
}

.body-span {
    color: red;
    border-bottom: 3px solid red;
}

/*ライン*/
.line {
    margin: 2em 0;
    border-bottom: 2px solid grey;
}

/*end summary*/
.summary {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}

.summary p {
    margin: 0; 
    padding: 0;
}

.summary-span {
    color: red;
}

/*editor*/
.editor img {
    width: 100%;
}

/*フッター*/
footer {
    background-color: black;
}

footer img {
    width: 100%;
}